{% extends "base.html" %}
{% block content %}
<section class="mzp-c-hero" style="min-height: 82vh;">

    <div class="mzp-l-content mzp-t-content-lg">

        <div>
            <form class="mzp-c-form" style="margin-bottom: 0;" method="POST">
                <label for="train">
                    <h1 class="mzp-c-hero-title">Train your Semantic Navigator</h1>
                    <div class="mzp-c-hero-body" >
                        <div class="mzp-c-hero-desc">
                            <p>Iteratively refine search using positive and negative examples.</p>
                        </div>
                        <p>Label examples as "Relevant" or "Irrelevant" and click the "Train" button to get new examples that are more similar to what you are searching for. Once you feel like you have refined your query enough, click the "View Results" button to see the most similar results to your refined query (including ones you have already marked as "Relevant").</p>
                    </div>
                </label>
                <button
                    class="mzp-c-button"
                    style="background-color: #fdbf6f; border-color:#B38E62"
                    type="submit"
                >
                    Train
                </button>
                <a class="mzp-c-button" href="{{ url_for('views.results') }}">View Results</a>

                <!-- Text samples -->
                <div id="annotation-container" class="mzp-l-sidebar-left">
                    {% for text in texts_info %}
                        <div class="mzp-c-emphasis-box" style="text-align: left;margin-top: 10vh;margin-bottom: 10vh;">
                            <div style="display:inline-block">  
                                <h4>{{ text["date"] }}</h4>
                                <a
                                    href="{{ text['link'] }}"
                                    target="_blank"
                                    class="mzp-c-button mzp-t-sm"
                                    style="background-color: #a6cee3; border-color:#7198AC"
                                >
                                    View on CDP Event Page
                                </a>
                            </div>  
                            <br/>
                            <p>{{ text["text"] }}</p>
                            <fieldset>
                                <legend>Is this text relevant or irrelevant to your query?</legend>
                                <div class="mzp-c-button" style="background-color: #b2df8a; border-color:#7CA857">
                                    <input
                                        type="radio"
                                        id="relevant_{{ text['chunk_id'] }}"
                                        name="selection_{{ text['chunk_id'] }}"
                                        value="Relevant"
                                    >
                                    <label for="relevant_{{ text['chunk_id'] }}">Relevant</label>
                                </div>
                                <div class="mzp-c-button" style="background-color: #fb9a99; border-color:#C06566">
                                    <input
                                        type="radio"
                                        id="irrelevant_{{ text['chunk_id'] }}"
                                        name="selection_{{ text['chunk_id'] }}"
                                        value="Irrelevant"
                                    >
                                    <label for="irrelevant_{{ text['chunk_id'] }}">Irrelevant</label>
                                </div>
                            </fieldset>
                            
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

</section>
{% endblock %}